body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1 1rem;
}

.about-text h2 {
    text-align: left;
    margin: 0;
}

.about-text p {
    text-align: left;
    margin: 0.5rem 0 0;
}

#profile-photo {
    width: 200px;
    height: 200px;
    
}
nav ul {
    background: #444;
    color: #fff;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0.5rem 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem auto;
    background: #fff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
a {
    
    text-decoration: none; /* Removes the underline */
}

a:hover {
    text-decoration: underline; /* Underlines the link on hover */
    color: #0c47a1; /* Darker blue on hover */
}